<nz-page-header>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['../']">
        <i nz-icon nzType="home" nzTheme="outline"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Список автомобилей
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-space nzDirection="vertical">
  <nz-space-item>
    <a nz-button nzType="primary" [routerLink]="['create']">Создать</a>
  </nz-space-item>
</nz-space>

<nz-table
  #table
  [nzData]="list$ | async"
  [nzPageSizeOptions]="[1, 5, 10]"
  [nzPageIndex]="(paging$ | async).page"
  [nzPageSize]="(paging$ | async).size"
  [nzTotal]="(paging$ | async).total"
  [nzFrontPagination]="false"
  (nzPageSizeChange)="changePageSize($event)"
  (nzPageIndexChange)="changeCurrentPage($event)"
  nzShowSizeChanger
>
  <thead>
    <tr>
      <th>№</th>
      <th>Модель</th>
      <th>Регистрационный номер</th>
      <th
        nzColumnKey="type"
        [nzFilters]="filterCarTypes"
        [nzFilterFn]="true"
        (nzFilterChange)="changeCarTypesFilter($event)"
      >
        Тип
      </th>
      <th>В архиве</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.id }}</td>
      <td>
        <a [routerLink]="[data.id]">{{ data.model }}</a>
      </td>
      <td>{{ data.registrationNumber }}</td>
      <td>{{ chooseType(data.type) }}</td>
      <td>
        <i
          nz-icon
          nzType="check-circle"
          nzTheme="outline"
          *ngIf="!data.inArchive"
        ></i>
        <i
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          *ngIf="data.inArchive"
        ></i>
      </td>
      <td>
        <button nz-button nzType="primary" [disabled]="data.inArchive">
          <a [routerLink]="[data.id, 'edit']"
            ><i nz-icon nzType="edit" nzTheme="outline"></i
          ></a>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
