<nz-page-header nzTitle="Характеристика">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">
        <i nz-icon nzType="home" nzTheme="outline"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/cars']">
        Список автомобилей
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Характеристика
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-card
  *ngIf="car$ | async as car"
  [nzTitle]="car.model"
  style="width: 600px;"
>
  <nz-descriptions nzBordered>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Тип">
      {{ chooseType(car.type) }}
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Регистрационный номер">
      {{ car.registrationNumber }}
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Норма расхода топлива, л/км">
      {{ car.fuelConsumptionRate }}
    </nz-descriptions-item>
    <nz-descriptions-item
      [nzSpan]="3"
      nzTitle="Зимняя норма расхода топлива, %"
    >
      {{ car.winterFuelConsumptionRate }}
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Норма расхода AdBlue, л/км">
      {{ car.adBlueConsumptionRate }}
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Норма расхода отопителя, л/ч">
      {{ car.weBastoConsumptionRate }}
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
